extends ../layout

block content
  .container
    h1.main-title= clickedTitle
    br
    .blog-review-container
      h5.sub-title 블로그리뷰
      br
      .blog-list
        -var i = 0;
        while i < 10
          li
            a.blog-content-item(href=blogObj.items[i].link)
              span.blog-content-item-headline= blogObj.items[i].title
              span.blog-content-item-byline= blogObj.items[i].description
            p.blog-title-date= blogObj.items[i].bloggername + ' ' + blogObj.items[i].postdate
          hr
          - i++;

    .ytm-playlist
      h5.sub-title Youtube Playlist
      br
      .ytm-playlist-panel-header
        .div
          .playlist-content
            -var i = 0;
            while i < 11
              .compact-media-item
                a.compact-media-item-image(href='https://www.youtube.com/watch?v=' + youtubeObj.items[i].id.videoId)
                  .video-thumbnail-container-compact
                    img.video-thumbnail-img(src= youtubeObj.items[i].snippet.thumbnails.default.url)
                .compact-media-item-metadata
                  a.compact-media-item-metadata-content(href='https://www.youtube.com/watch?v=' + youtubeObj.items[i].id.videoId)
                    h4.compact-media-item-headline= youtubeObj.items[i].snippet.title
                    .compact-media-item-byline= youtubeObj.items[i].snippet.channelTitle
                    - i++;

    